{% extends 'base.html.twig' %} 

{% block title %}Cafe{% endblock %} 
 

{% block body %} 


    <h1>Cafe</h1> 


    <table class="table"> 

        <tbody> 

            <tr> 

                <th>Id</th> 

                <td>{{cafe.id}}</td> 

            </tr> 

            <tr> 

                <th>Name</th> 

                <td>{{ cafe.name }}</td> 

            </tr> 

            <tr> 

                <th>Picture</th> 

                <td>{{ cafe.pictureUrl }}</td> 

            </tr> 

            <tr> 

                <th>Box</th> 

                <td>{{ cafe.box }}</td> 

            </tr> 

            <tr> 

                <th>Number</th> 

                <td>{{ cafe.number }}</td> 

            </tr> 

            <tr> 

                <th>Street</th> 

                <td>{{ cafe.street }}</td> 

            </tr> 

            <tr> 

                <th>ZipCode</th> 

                <td>{{ cafe.zipCode }}</td> 

            </tr> 

            <tr> 

                <th>City</th> 

                <td>{{ cafe.city }}</td> 

            </tr> 

            <tr> 

                <th>Country</th> 

                <td>{{ cafe.country }}</td> 

            </tr> 

            <tr> 

                <th>Rating</th> 

                <td>{{ cafe.rating }}</td> 

            </tr> 

        </tbody> 

    </table> 
    <a href= "{{path('cafe_delete', {id : cafe.id} )}}" class="text-l">Delete cafe</a>

    <h3>Comments</h3> 
    <a href= "{{path('comment_register', {id : cafe.id} )}}" class="text-l">Add a comment</a>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-800">
            <thead class="text-xs text-gray-800 uppercase bg-white dark:bg-red-400 dark:text-white">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        User
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Comment
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for comment in cafe.comments %}
                <tr class="bg-white border-b dark:bg-white dark:border-red-400 hover:bg-red-100 dark:hover:bg-red-100">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-800 whitespace-nowrap">
                        {{comment.user.name}} {{comment.user.surname}}
                    </th>
                    <td class="px-6 py-4">
                        {{comment.createDate |date('d-m-Y')}}
                    </td>
                    <td class="px-6 py-9">
                        {{comment.message}}
                    </td>
                    {# YOUR COMMENT CAN BE DELETED #}
                    <td class="px-6 py-4 text-right">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                     <td class="px-6 py-4 text-right">
                        <a href= "{{path('comment_delete', {id : comment.id} )}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <a href="{{ path('app_cafe') }}">back to list</a> 

    {# FOR ADMIN ONLY #}
    <a href="{{ path('cafe_edit', {'id': cafe.id}) }}">edit</a> 

    {# {{ include('cafe/delete.html.twig') }}  #}

{% endblock %} 

